@font-face{

font-family: 'PRISTINA';
src:url('fonts/PRISTINA.woff') format('woff');

}
/*header part start*/
header{

    background: url(../img/bg.png);
   background-size: cover;
   background-repeat: no-repeat;
   
   

}
.ovrl {

background-color:#211c155e ;
height: 100vh;
}

.logo h1{

	font-family:'PRISTINA';
	color:#fafd17;
	font-size: 60px;
	padding: 50px 10px;
}

nav ul{

	list-style: none;
}
nav ul li{

	display: inline-block;
	margin:65px 30px;
	color:white;
	font-size: 20px;
}
nav ul li a{

	text-decoration: none;
	color:white;
}
.hmain{


}
.hmain h1{
font-size: 50px;
color:white;
background-color:#00000069; 
	
}
.hmain p{
font-size: 16px;
color: #f6f9fa;
margin:25px 0px;
	
}
.hmain span{
border-bottom: 1px solid white;
width:20px;
display:block;
margin:30px 0px;	
}
.btn{

border-color:white;
color:white;
padding:16px 90px;

}
.btn:hover{

	background-color: silver;
	color:white;
}
/*header part end*/
/* info section start*/
.info{

	background-color: #f6f6f6;
	padding-top: 100px;
}
.cart{
position:relative;


}
.cart h1{

font-size: 53px;
letter-spacing: 1px;

}
.cart p{

padding-bottom: 50px;
margin-right:200px;	
color:#888888;
}
.cart span{

border-bottom: 1px solid black;
width:20px;
display:block;
margin:30px 0px;
	
}
.car{

position: absolute;
height:110%;
width:140%;
top:6%;
right:-80%;
}
/*info section end*/
/*title section start*/
.title{
background-color:#28282e;
padding:100px 0px;
}
.three h1{
color:white;
font-weight: bold;
font-size:52px;

}
.three span{
border-bottom: 1px solid white;
width:20px;
display:block;
margin:30px 0px;
	
}
.description p {
color: white;
padding:20px 0px;
}

.btn-light{
color:white;
background-color:#c0c0c000;
}
/*title section end*/
/*footer paert start*/
footer{
background-color: #ef4035;
padding: 25px 0px;
text-align: center;

}
.fot p{

	color:white;
}
/*footer part end*/

/*mobile divce*/
@media(min-width: 0px) and (max-width: 500px){



.logo h1{

	font-size: 25px;
	padding: 10px 5px;
}	
nav ul li{

	display: inline-block;
	margin:5px 5px;
	color:white;
	font-size: 10px;
}
.hmain h1{
font-size: 20px; 
	
}
.hmain p{
font-size: 16px;
margin:25px 10px;
	
}

.btn{

border-color:white;
color:white;
padding:16px 30px;
margin:0px 10px;
}
.cart h1{

font-size: 20px;
letter-spacing: 0px;

}

.cart p{

padding-bottom: 30px;
margin-right:10px;	
color:#888888;
font-size: 10px;
}
.car{

position: absolute;
height:110%;
width:130%;
top:6%;
right:-90%;
}
.three h1{
color:white;
font-weight: bold;
font-size:25px;
}
.description p{
	font-size: 10px;
	padding: 5px 0px;
}
.btn-light{

	font-size:12px;
	padding:5px 5px;
}

@media(min-width: 500.01px) and (max-width: 768){


}
@media(min-width:768.01px) and (max-width: 1200px){


}

@media(min-width: 1200.01px){


}